{{#if user}}

<div id="intro">

  <p>隆隆Bienvenido, {{user.name}}!!</p>

</div>

{{/if}}

<div id="allComments">

  {{#each comments}}
  <div class="cardComment inactive">
    <div><strong>Necesita:</strong> {{comment}}</div>
    <div><strong>Qui茅n?:</strong> {{who}}</div>
    <div><strong>Descripci贸n:</strong> {{description}}</div>
    <div><strong>Casa hogar: </strong>{{owner.name}}</div>
    <div><strong>Email de contacto:</strong> {{owner.email}}</div>
    <img src={{imgUrl}} alt="...">
    <a href=/donate/{{_id}} class="buttonD">No donar </a>
  </div>
  {{else}}
  <div class="cardComment">
    <h2> Por el momento no tienes donaciones pendientes que quieras realizar. </h2>
    <p>Cuando hayas seleccionado la donaci贸n dentro de la secci贸n de "Solicitudes" aparecer谩 en este apartado. Podr谩s
      verificar el nombre de la instituci贸n que lo requiere, as铆 como un correo de contacto.</p>
  </div>
  {{/each}}
</div>